# Python
__pycache__/
*.py[cod]
*.log
*.run_admin.cmd
*.run_portal.cmd


# Virtual env
venv/
.venv/

# Env local
.env
*.env

# Streamlit (não commitar secrets)
.streamlit/secrets.toml

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Pastas locais do seu projeto que não precisam ir pro Portal
Docs/
certs/
tools/
.devcontainer/
app_streamlit_old.txt